*{
    
        margin: 0;
        padding: 0;
        text-align: center;
    
}
.left-nav{
    flex-direction: column;
    border: none;

}
.navbar{
    height: 500px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
.navbar li a{
   display: block;
  
}
#search{
    display: block;
    width: 60%;
}
.right-nav{
    text-align: center;
    border: none;
}

.h-nav{
    height: 72px;
}

.v-class{
    opacity: 0;
}
.burger{
    display: block;
}
/* .background{
    width: 800px;
} */
.box-main{
    flex-direction: column-reverse;
    max-width: 100%;
}
.section{
    /* max-width: 100%; */
    flex-direction: column;
}
.text-big{
    text-align: center;
}
.text-small{
    text-align: center;
}
.btn{
    text-align: center;
}
.section{
    flex-direction: column-reverse;
}