*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.left-nav{
    display: flex;
    width: 70%;
    align-items: center;
    border-bottom: 1px solid gray;
    /* background-color: black; */
}
.left-nav li{
    list-style: none;
}
.left-nav li a{
    text-decoration: none;
    padding: 25px 28px;
    color: white;
    font-size: 20px;
}

.left-nav li a:hover{
    color:grey
}

.right-nav{
    width: 30%;
    text-align: right;
     /* background-color: blueviolet; */
     padding: 0 20px;
     border-bottom: 1px solid gray;
     
}
#search{
    padding: 3px;
    font-size: 13px;
    border-bottom: 3px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 17px;
    margin-top: 15px;
    background: none;
    color: white;
}

.left-nav .logo{
    width: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.left-nav .logo img{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius:50px ;
}

.background{
    background: rgba(0,0,0, 0.7) url(../img/bg2.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.burger{
    display: none;
    position: absolute;
    right: 50px;
    top: 15px;
}
.lines{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 4px;

}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

#home{
    height: 95vh;
}

.box-main .first{
    width: 80%;
    display: flex;
    flex-direction: column;

}

.box-main .second{
    width: 20%;
    margin-left: 10px;
}
.box-main .second img{
    height: 200px;
    width: 250px;
    display: block;
    margin:10px auto;
     border: 4px solid white;
    border-radius: 150%;
    opacity: 0.8;
    

}

.text-big{
    font-size: 40px;
    
}

.text-small{
    font-size: 20px;
}
.btn{
    padding: 7px 15px;
    margin:8px 5px;
    /* border: 2px solid white; */
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: white;
    border-bottom: 3px solid white;
    /* font-weight: bold; */
    font-style: italic;
    font-size: 16px;
}

.btn:hover{
    background-color: rgb(24, 23, 23);
    opacity: 0.8;
}
.btn-sm{
    padding: 2px 15px;
 margin: 0px 5px;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: white;
    border-bottom: 3px solid white;
}
.section{
    /* height: 500px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    max-width: 80%;
    border-bottom: 2px solid grey;
}

.section .text-small{
    padding-top: 50px;
}
.sec-left{
    flex-direction: row-reverse;
}


.sectag{
    padding: 0 50px;
}

.thumbnail img{
    width: 300px;
}

.contact{
    background-color: rgb(255, 255, 255);
    height: 85vh;
   
}
.text-center{
    text-align: center;
    display: block;
    margin: 50px auto;
    font-size: 32px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 62%; */
}
.form .input{
    width: 55%;
    font-size: 17px;
    margin: 12px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid gray;
}
.form #text-area{
    height: 100px;
    
}
.contact-btn{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-btn .btn-dark{
    font-size: 16px;
    padding: 5px 15px;
    margin: 7px 9px;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    background-color: rgb(87, 86, 86);
    background-blend-mode: darken;
    display: flex;
    height: 8vh;
    color: white;
    justify-content: center;
    align-items: center;
}
   
.footer{
   
    font-size: 18px;
}


